<div style="width:100%;height:100%;background:#efefef">
  <div class="ui-g" style="width:380px;padding:50px 0px 0px 200px;">
    <div class="ui-g-12">
      <div class="ui-g-2" style="padding-top:12px">
        <i style="color:green;" class="fa fa-info fa-2x"></i>
      </div>
      <div class="ui-g-10">
        <div>
          {{'base.forgot-password.sendemail-sent' | translate}}
        </div>
        <div>
          {{'base.forgot-password.sendemail-check' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
