<div style="width:100%;height:100%;background:#efefef">
  <div style="width:380px;padding:50px 0px 0px 200px;">
    <div class="ui-g">
      <div class="ui-g-12" style="font-weight: 600;">
        {{'base.forgot-password.changed-pwd' | translate}}
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        {{'base.forgot-password.changed-signin' | translate}}
      </div>
    </div>
    <div class="ui-g" style="margin:10px 0px">
      <div class="ui-g-12">
        <button style="padding: 5px 25px;border-radius: 5px;" pButton type="button" routerLink="/login" [label]="'base.forgot-password.sign-in' | translate"></button>
      </div>
    </div>
  </div>
</div>
