<div class="my-page">
    <div class="my-page-title">
        <span></span>{{'base.palist.title' | translate}}
    </div>
    <p-panel styleClass="my-panel no-header">
        <p-table>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <label>PATIENT ID</label>
                        <br>
                        <input type="text" [(ngModel)]="patientParam.patientId">
                    </th>
                    <th>
                        <label>PATIENT NAME</label>
                        <br>
                        <input type="text" [(ngModel)]="patientParam.patientName">
                    </th>
                    <th>
                        <label>Gender</label>
                        <br>
                        <p-dropdown id="gender" [options]="gender" placeholder="Select Gender" [(ngModel)]="patientParam.gender" optionLabel="label"></p-dropdown>
                    </th>
                    <th>
                        <label>MODALITY</label>
                        <br>
                        <p-dropdown id="modality" [options]="modality" placeholder="Select Modality" [(ngModel)]="patientParam.modality" optionLabel="label"></p-dropdown>
                    </th>
                    <th>
                        <label for="studyDate">{{'STUDY DATE' | translate}}</label>
                        <br>
                        <p-calendar id="studyDate" selectionMode="range" readonlyInput="true" [(ngModel)]="patientParam.studyDate" [showIcon]="true" inputStyleClass="styleClass calendar"></p-calendar>
                    </th>
                    <th>
                        <button style="margin-top:20px;" pButton type="button" class="my-button search" [label]="'btn.search' | translate" (click)="search()"></button>
                    </th>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dataTable #dt expandableRows="true" [value]="pageModel?.content" selectionMode="multiple"  [(selection)]="selectedPageModel.content"  [resizableColumns]="true" styleClass="my-table text-center" [emptyMessage]="'text.empty-data' | translate">
        <p-header class="ui-helper-clearfix">
            <div class="pull-left">
                <!-- <mpt-icon-button class="pull-right margin-right-10 table-button" [label]="'btn.delete' | translate" icon="fa fa-trash fa-lg" (click)="onDelete()"></mpt-icon-button> -->
                <mpt-icon-button class="pull-right margin-right-10 table-button" [label]="'btn.delete' | translate"  style="cursor:pointer" icon="fa fa-trash fa-lg"></mpt-icon-button>
            </div>
        </p-header>
        <p-column [style]="{'width':'10px','padding-left':'10px'}" selectionMode="multiple"></p-column>
        <p-column expander="true" [style]="{'width':'22px'}"></p-column>
        <p-column [header]="'No' | translate" field="no" [style]="{'width':'30px','text-align':'center'}"></p-column>
        <p-column *ngFor="let col of cols" [header]="col.header | translate" [style]="{'width':'120px'}">
            <ng-template pTemplate="body" let-patientrow="rowData">
                <tr (click)="toContouring(patientrow.patientId)">
                    <td style="text-align:center;cursor: pointer">
                        {{patientrow[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-column>
        <ng-template let-patientrow pTemplate="rowexpansion">
            <p-dataTable expandableRows="true" [value]="patientrow?.studyInfo" selectionMode="multiple"  [(selection)]="selectedStudyModel.content" [resizableColumns]="true" styleClass="my-table text-center" [emptyMessage]="'text.empty-data' | translate">
                <p-column [style]="{'width':'10px','padding-left':'10px'}" selectionMode="multiple"></p-column>
                <p-column expander="true" [style]="{'width':'22px'}"></p-column>
                <p-column *ngFor="let col of studycols" [header]="col.header | translate" [style]="{'width':'120px'}">
                    <ng-template pTemplate="body" let-studyrow="rowData">
                        <tr>
                            <td style="text-align:center;">
                                {{studyrow[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-column>
                <ng-template let-studyrow pTemplate="rowexpansion">
                    <p-dataTable expandableRows="true" [value]="studyrow?.seriesInfo" selectionMode="multiple" [(selection)]="selectedSeriesModel.content"  [resizableColumns]="true" styleClass="my-table text-center" [emptyMessage]="'text.empty-data' | translate">
                        <p-column [style]="{'width':'10px','padding-left':'10px'}" selectionMode="multiple"></p-column>
                        <p-column *ngFor="let col of seriescols" [header]="col.header | translate" [style]="{'width':'120px'}">
                            <ng-template pTemplate="body" let-seriesrow="rowData">
                                <tr>
                                    <td style="text-align:center;">
                                        {{seriesrow[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </ng-template>
            </p-dataTable>
        </ng-template>
        <p-footer>
            <div class="ui-helper-clearfix" *ngIf="pageModel?.totalElements>0">
                <span class="paginator-text pull-left">{{ 'text.pagination-records' | translate: {size: pageModel?.numberOfElements, total: pageModel?.totalElements} }}</span>
                <span class="paginator-buttons pull-right">
                    <p-paginator *ngIf="pageModel?.totalPages>0"  [(rows)]="tablePageRows[1]" [pageLinkSize]="5" [rowsPerPageOptions]="tablePageRows"
                    [totalRecords]="pageModel?.totalElements" (onPageChange)="loadPatientTemplate($event)"></p-paginator>
                </span>
            </div>
        </p-footer>
    </p-dataTable>

</div>