<div class="my-page">
    <div class="my-page-title">
        {{ 'base.change-password.title' | translate }}
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad" style="margin: 10px 0px">
            <div class="ui-g">
                <div class="ui-g-4 text-right">
                    <label class="form-label" for="oldPasswordInput">{{ 'base.change-password.current-password' | translate }}：</label>
                </div>
                <div class="ui-g-2">
                    <input pInputText type="password" id="oldPasswordInput" formControlName="oldPassword" [placeholder]="'base.change-password.current-password' | translate" />
                </div>
                <div class="ui-g-4">
                    <span *ngIf="oldPassword.touched && oldPassword.hasError('required')" class="ui-message ui-messages-error ui-corner-all">
          {{ 'text.required' | translate }}
          </span>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-g-4 text-right">
                    <label class="form-label" for="newPasswordInput">{{ 'base.change-password.new-password' | translate }}：</label>
                </div>
                <div class="ui-g-2">
                    <input pInputText type="password" id="newPasswordInput" formControlName="newPassword" [placeholder]="'base.change-password.new-password' | translate" />
                </div>
                <div class="ui-g-4">
                    <span *ngIf="newPassword.touched && newPassword.hasError('required')" class="ui-message ui-messages-error ui-corner-all">
          {{ 'text.required' | translate }}
          </span>
                    <span *ngIf="newPassword.touched && newPassword.hasError('minlength')" class="ui-message ui-messages-error ui-corner-all">
          {{ 'base.change-password.password-min-length' | translate }}
          </span>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-g-4 text-right">
                    <label class="form-label" for="confirmPasswordInput">{{ 'base.change-password.confirm-password' | translate }}：</label>
                </div>
                <div class="ui-g-2">
                    <input pInputText type="password" id="confirmPasswordInput" formControlName="confirmPassword" [placeholder]="'base.change-password.confirm-password' | translate" />
                </div>
                <div class="ui-g-4">
                    <span class="ui-message ui-messages-error ui-corner-all" *ngIf="confirmPassword.touched && confirmPassword.hasError('unmatched')">
          {{ 'base.change-password.password-matching' | translate }}
        </span>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-g-4"></div>
                <div class="ui-g-8">
                    <button type="submit" class="my-button" pButton [label]="'btn.submit' | translate"></button>
                </div>
            </div>

        </div>
    </form>
</div>