# project folders
project/
x64/

# build folders
*build*/

# folder to ignore
/bin
/lib
/tmp
/dist
/*.egg-info
/md/lib
.eggs

# temporary files
*~

# Mac system files
.DS_Store

# CMakeLists.txt.user
CMakeLists.txt.user

# pycharm project files
.idea/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Unit testing output files
/utils/python/test_data/*.html

# Unit large testing files
/neuro/test_data/fully_connected

*.uihlog
/netbase/log/
log.txt

# updatable files in 3rd party lib
/3rd/Windows/redis/dump.rdb
uwsgi.log
uwsgi.pid
