<div class="my-page">
    <div class="my-page-title">
        {{ 'united-imaging.system-management.sms-template.title' | translate }}
    </div>
    <p-panel styleClass="my-panel no-header">
        <span>
      {{ 'united-imaging.system-management.sms-template.name' | translate }}
    </span>
        <input type="text" pInputText [(ngModel)]="name" />
        <button pButton class="my-button search" type="button" [label]="'btn.search' | translate" (click)="search()"></button>
    </p-panel>
    <p-dataTable #dt [value]="smsTemplate?.content" selectionMode="multiple" expandableRows="true" [resizableColumns]="true" styleClass="my-table" [emptyMessage]="'text.empty-data' | translate" [rowStyleClass]="getRowStyle">
        <p-header class="ui-helper-clearfix">
            <mpt-icon-button routerLink="./add-sms-template" class="pull-left margin-right-10" style="margin-right:10px" [label]="'btn.add' | translate" icon="fa fa-plus-circle fa-lg"></mpt-icon-button>
        </p-header>
        <p-column [style]="{'width':'30px','padding-left':'15px'}" selectionMode="multiple"></p-column>
        <p-column field="no" [header]="'united-imaging.system-management.email-template.no' | translate" [style]="{'width':'38px','text-align':'center'}"></p-column>
        <p-column field="name" [header]="'united-imaging.system-management.sms-template.name' | translate" [style]="{'width':'15%','text-align':'left'}"></p-column>
        <p-column field="createTime" [header]="'united-imaging.system-management.sms-template.create-time' | translate" [style]="{'width':'20%','text-align':'center'}">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
            </ng-template>
        </p-column>
        <p-column field="enable" [header]="'united-imaging.system-management.sms-template.enable' | translate" [style]="{'width':'10%','text-align':'left'}">
            <ng-template let-row="rowData" pTemplate="body">
                <i class="fa fa-check-square-o" aria-hidden="true" *ngIf="row.enable === '1'"></i>
                <i class="fa fa-square-o" aria-hidden="true" *ngIf="row.enable === '0'"></i>
            </ng-template>
        </p-column>
        <p-column [header]="'united-imaging.system-management.sms-template.actions' | translate" [style]="{'width':'100px'}" styleClass="actions-column">
            <ng-template let-row="rowData" pTemplate="body">
                <a [routerLink]="['./edit-sms-template', row.id]" class="actions-link">
                    <i class="fa fa-edit fa-2x"></i>
                </a>
                <a (click)="delete(row)" class="actions-link">
                    <i class="fa fa-trash fa-2x"></i>
                </a>
            </ng-template>
        </p-column>
        <p-footer>
            <div class="ui-helper-clearfix" *ngIf="smsTemplate?.totalElements>0">
                <span class="paginator-text pull-left">
          {{ 'text.pagination-records' | translate: {size: smsTemplate?.content.length, total: smsTemplate?.totalElements} }}
        </span>
                <span class="paginator-buttons pull-right">
          <p-paginator *ngIf="smsTemplate?.totalPages>1" [(rows)]="tablePageRows[1]" [pageLinkSize]="5" [rowsPerPageOptions]="tablePageRows"
            [totalRecords]="smsTemplate?.totalElements" (onPageChange)="loadSmsTemplate($event)"></p-paginator>
        </span>
            </div>
        </p-footer>
    </p-dataTable>
</div>
<p-confirmDialog header="'text.info' | translate" class="my-dialog" icon="fa fa-question-circle" width="420" height="150" [acceptLabel]="'btn.ok' | translate" [rejectLabel]="'btn.cancel' | translate">
</p-confirmDialog>
<router-outlet></router-outlet>