<div class="my-page">
    <div class="top_Button">
        <mpt-contouring-top-bar (loadSeries)="loadSeries()" (clear)="mainClearPri()" (hideList)="mainHideList()"
            (newroi)="mainNewROI()" (manageroi)="mainManageROI()" (autoroi)="mainautoroi()" (reset)="mainreset()"
            (setcenter)="mainSetCenterPro()" [seriesList]="seriesList"></mpt-contouring-top-bar>
    </div>

    <div id="threebmp" class="viewport">
        <div class='cell_group u-3of5 horizontal'>
            <div class='main_cell'>
                <mpt-cell #picLeft1 class="a_class" [tag]="'transverse'" [hasLoadVolume]="hasLoadVolume" (onLocate)="transverseChange($event)"
                    (onScroll)="aCross($event)" (onZoom)="handleZoom($event)" (onPan)="handlePan($event)" (onRotate)="handleRotate($event)"
                    (onChangeWwwl)="handleWwwl($event)">
                </mpt-cell>
            </div>

            <div class='slider_bar'>
                <mpt-slider-bar></mpt-slider-bar>
            </div>
        </div>

        <div class='cell_group u-2of5'>
            <div class='cell'>
                <mpt-cell #picLeft2 class="b_class" [tag]="'coronal'" [hasLoadVolume]="hasLoadVolume" (onLocate)="coronalChange($event)"
                    (onScroll)="bCross($event)" (onZoom)="handleZoom($event)" (onPan)="handlePan($event)" (onRotate)="handleRotate($event)"
                    (onChangeWwwl)="handleWwwl($event)">
                </mpt-cell>
            </div>

            <div class='cell'>
                <mpt-cell #picLeft3 class="c_class" [tag]="'saggital'" [hasLoadVolume]="hasLoadVolume" (onLocate)="saggitalChange($event)"
                    (onScroll)="cCross($event)" (onZoom)="handleZoom($event)" (onPan)="handlePan($event)" (onRotate)="handleRotate($event)"
                    (onChangeWwwl)="handleWwwl($event)">
                </mpt-cell>
            </div>
        </div>
    </div>


    <p-dialog header="Create New ROI" [modal]="true" [(visible)]="newROIDisplay" [width]="300" [style]="{'border':'none'}"
        [contentStyle]="{'border':'none','overflow':'visible'}" (onHide)="hideNewROIDia()">
        <div class="roi-name roi-input-group">
            <label for="">Name:</label>
            <input type="text" pInputText spellcheck=false [(ngModel)]="ROIName">
        </div>
        <div class="roi-color roi-input-group">
            <label for="">Color:</label>
            <p-colorPicker [(ngModel)]="ROIColor"></p-colorPicker>
            <input type='text' pInputText style="padding-left:10px;border:none;" spellcheck=false [(ngModel)]="ROIColor">
        </div>
        <p-footer [style]="{'border':'none'}">
            <p-button label="Save" icon="fa fa-check" iconPos="left" (onClick)="saveROI()"></p-button>
            <p-button label="Cancel" icon="fa fa-times" iconPos="left" (onClick)="newROIDisplay=false"></p-button>
        </p-footer>
    </p-dialog>
    <p-dialog header="Manage ROI" [(visible)]="manageROIDisplay" [width]="250" [style]="{'border':'none'}"
        [contentStyle]="{'border':'none','overflow':'visible'}" (onHide)="hideManageROIDia()">
        <table class="roi-table" style="border-collapse:collapse" cellspacing="5">
            <tbody>
                <div *ngIf="ROIListLength == 0">
                    <span>Empty</span>
                </div>
                <tr *ngFor="let item of ROIList">
                    <td>
                        <button (click)="changeROIVisible($event)" class="fa fa-eye fa-lg" style="background: none;border: none">
                        </button>
                    </td>
                    <td class='roi-id-td' hidden='true'>{{item.ROIId}}</td>
                    <td>
                        <div class="roi-color-div" [ngStyle]="{'width':'20px','height':'20px','background-color':item.ROIColor}"></div>
                    </td>
                    <td class="select-td" (click)="onClickROIItem($event)">
                        <span>{{item.ROIName}}</span>
                    </td>
                    <td class="delete-td">
                        <button (click)="deleteROI($event)" class="fa fa-trash fa-lg" style="background: none;border: none">
                        </button>
                    </td>
                    <td class="edit-td">
                        <button (click)="editROI($event)" class="fa fa-edit fa-lg" style="background: none;border: none">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p-footer [style]="{'border':'none'}" *ngIf="ROIListLength > 2">
            <p-button label="Del All" icon="fa fa-trash" iconPos="left" (onClick)="deleteAllROI()"></p-button>
        </p-footer>
    </p-dialog>
    <p-dialog header="Edit ROI" [modal]="true" [(visible)]="editROIDisplay" [width]="300" [style]="{'border':'none'}"
        [contentStyle]="{'border':'none','overflow':'visible'}">
        <div class="roi-name roi-input-group">
            <label for="">Name:</label>
            <input type="text" pInputText spellcheck=false [(ngModel)]="editROIConfig.ROIName">
        </div>
        <div class="roi-color roi-input-group">
            <label for="">Color:</label>
            <p-colorPicker [(ngModel)]="editROIConfig.ROIColor"></p-colorPicker>
            <input type='text' pInputText style="padding-left:10px;border:none;" spellcheck=false [(ngModel)]="editROIConfig.ROIColor">
        </div>
        <p-footer [style]="{'border':'none'}">
            <p-button label="Save" icon="fa fa-check" iconPos="left" (onClick)="updateROI()"></p-button>
            <p-button label="Cancel" icon="fa fa-times" iconPos="left" (onClick)="editROIDisplay=false"></p-button>
        </p-footer>
    </p-dialog>
</div>