<div class="my-page">
    <div class="top_Button">
        <!-- <mpt-contouring-top-bar (zoom)="mainzoom()" (wlww)="mainwlww()" (move)="mainmove()" (sfile)="sfile()" (plan)="addPlan()" (loadSeries)="loadSeries()" (auto)="auto($event)" (remouse)="remouse($event)"></mpt-contouring-top-bar> -->
        <mpt-contouring-top-bar (loadSeries)="loadSeries()" (clear)="mainClearPri()" (hideList)="mainHideList()" (zoom)="mainzoom()" (pan)="mainpan()" (rotate)="mainrotate()" (reset)="mainreset()" (wlww)="mainWLWW()"  (setcenter)="mainSetCenterPro()" [seriesList]="seriesList"></mpt-contouring-top-bar>
    </div>
    <div id="threebmp" class="three three_inactive">
        <mpt-pic-transverse #picLeft1 class="a_class" 
                            [tag]="'transverse'" 
                            [imageWidth]="imageX" 
                            [imageHeight]="imageY" 
                            [pageindex]="sliceX" 
                            [wl]="wl" 
                            [ww]="ww" 
                            [spacingX]="spacingX" 
                            [spacingY]="spacingY" 
                            [gap]="gap" 
                            [sliceAll]="sliceAll" 
                            [pixelRepresentation]="pixelRepresentation" 
                            [rescaleSlope]="rescaleSlope" 
                            [rescaleIntercept]="rescaleIntercept" 
                            [firstImagePosition]="firstImagePosition" 
                            [lastImagePosition]="lastImagePosition" 
                            [hasLoadVolume] = "hasLoadVolume" 
                            (changeCross)="transverseChange($event)" 
                            (twoCross)="aCross($event)" 
                            (message)="message($event)" 
                            (zoomReq)="mainZoomPro($event)" 
                            (panReq)="mainPanPro($event)" 
                            (rotateReq)="mainRotatePro($event)" 
                            (wwwlReq)="mainWWWLPro($event)"
                            (wwwlReq2)="mainWWWLPro2($event)">
        </mpt-pic-transverse>
        
        <mpt-pic-transverse #picLeft2 class="b_class" 
                            [tag]="'coronal'" 
                            [imageWidth]="imageX" 
                            [imageHeight]="imageZ" 
                            [pageindex]="sliceY" 
                            [wl]="wl" 
                            [ww]="ww" 
                            [spacingX]="spacingX" 
                            [spacingY]="spacingZ" 
                            [gap]="gap" 
                            [sliceAll]="sliceAll" 
                            [pixelRepresentation]="pixelRepresentation" 
                            [rescaleSlope]="rescaleSlope" 
                            [rescaleIntercept]="rescaleIntercept" 
                            [firstImagePosition]="firstImagePosition" 
                            [lastImagePosition]="lastImagePosition" 
                            [hasLoadVolume] = "hasLoadVolume" 
                            (changeCross)="coronalChange($event)" 
                            (twoCross)="bCross($event)" 
                            (zoomReq)="mainZoomPro($event)" 
                            (panReq)="mainPanPro($event)" 
                            (rotateReq)="mainRotatePro($event)" 
                            (wwwlReq)="mainWWWLPro($event)"
                            (wwwlReq2)="mainWWWLPro2($event)">
        </mpt-pic-transverse>

        <mpt-pic-transverse #picLeft3 class="c_class" 
                            [tag]="'saggital'" 
                            [imageWidth]="imageY" 
                            [imageHeight]="imageZ" 
                            [pageindex]="sliceZ" 
                            [wl]="wl" 
                            [ww]="ww" 
                            [spacingX]="spacingY" 
                            [spacingY]="spacingZ" 
                            [gap]="gap" 
                            [sliceAll]="sliceAll" 
                            [pixelRepresentation]="pixelRepresentation" 
                            [rescaleSlope]="rescaleSlope" 
                            [rescaleIntercept]="rescaleIntercept" 
                            [firstImagePosition]="firstImagePosition" 
                            [lastImagePosition]="lastImagePosition" 
                            [hasLoadVolume] = "hasLoadVolume" 
                            (changeCross)="saggitalChange($event)" 
                            (twoCross)="cCross($event)" 
                            (zoomReq)="mainZoomPro($event)" 
                            (panReq)="mainPanPro($event)" 
                            (rotateReq)="mainRotatePro($event)" 
                            (wwwlReq)="mainWWWLPro($event)"
                            (wwwlReq2)="mainWWWLPro2($event)"
                            >
        </mpt-pic-transverse>
        
        <label id='moveInfo' class="a_class" style="color: white;margin-top: 10px;font-size: 16px;">MouseMove info:</label>
        <label id='clickInfo' class="a_class" style="color: white;margin-top: 10px;font-size: 16px;">MouseDown info:</label>
    </div>
    <!-- <div id="series_list" class="series_inactive" >
        <mpt-series-list [seriesList]="seriesList"></mpt-series-list>
    </div> -->
    <!-- <div>
        <load-bar #load></load-bar>
    </div> -->
</div>
<p-toast position="bottom-right"></p-toast>