<div class="page-renew-password" style="height:493px;">
  <div class="renew-password">
    <form [formGroup]="form" *ngIf="form">
      <div class="ui-g" style="margin:30px 0px 20px 0px;height: 30px;">
        <div class="ui-g-12 text-center" style="color:red;" *ngIf="newPassword === oldPassword">
          <i style="color:red;" class="fa fa-exclamation-triangle fa-lg"></i>&ensp;{{'base.renew-password.new-history-password-error' | translate}}
        </div>
        <div class="ui-g-12 text-center" style="color:red;" *ngIf="newPassword !== confirmPassword">
          <i style="color:red;" class="fa fa-exclamation-triangle fa-lg"></i>&ensp;{{'base.renew-password.new-confirm-password-error' | translate}}
        </div>
        <div class="ui-g-12 text-center" style="color:red;" *ngIf="submitMsgErrorFlag">
          <i style="color:red;" class="fa fa-exclamation-triangle fa-lg"></i>&ensp;{{'base.renew-password.username-password-error' | translate}}
        </div>
      </div>

      <div class="ui-g" style="margin:10px 0px">
        <div class="ui-g-4 text-right">
          <label for="brand" class="required">{{'base.renew-password.username' | translate}}:</label>
        </div>
        <div class="ui-g-5">
          <input pInputText type="text" class="input" formControlName="userName" [(ngModel)]="userName" />
        </div>
        <div class="ui-g-3">
          <div *ngIf="form.controls['userName'].invalid&&(form.controls['userName'].dirty|| form.controls['userName'].touched)">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['userName'].errors.required">
              <i class="fa fa-close"></i> {{'text.required' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g" style="margin:10px 0px">
        <div class="ui-g-4 text-right">
          <label for="brand" class="required">{{'base.renew-password.old-password' | translate}}:</label>
        </div>
        <div class="ui-g-5">
          <input pInputText type="password" class="input" formControlName="oldPassword" [(ngModel)]="oldPassword" />
        </div>
        <div class="ui-g-3">
          <div *ngIf="form.controls['oldPassword'].invalid&&(form.controls['oldPassword'].dirty|| form.controls['oldPassword'].touched)">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['oldPassword'].errors.required">
              <i class="fa fa-close"></i> {{'text.required' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g" style="height:25px;margin: -20px 0px 0px -5px;">
        <div class="ui-g-4 text-right"></div>
        <div class="ui-g-8">
          <div *ngIf="form.controls['oldPassword'].invalid&&(form.controls['oldPassword'].dirty|| form.controls['oldPassword'].touched)">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['oldPassword'].errors.minlength">
              {{'base.renew-password.pwdlength-error' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g" style="margin:10px 0px">
        <div class="ui-g-4 text-right">
          <label for="brand" class="required">{{'base.renew-password.new-password' | translate}}:</label>
        </div>
        <div class="ui-g-5">
          <input pInputText type="password" class="input" formControlName="newPassword" [(ngModel)]="newPassword" />
        </div>
        <div class="ui-g-3">
          <div *ngIf="form.controls['newPassword'].invalid&&(form.controls['newPassword'].dirty|| form.controls['newPassword'].touched)">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['newPassword'].errors.required">
              <i class="fa fa-close"></i> {{'text.required' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g" style="height:25px;margin: -20px 0px 0px -5px;">
        <div class="ui-g-4 text-right"></div>
        <div class="ui-g-8">
          <div *ngIf="form.controls['newPassword'].invalid&&(form.controls['newPassword'].dirty|| form.controls['newPassword'].touched)">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['newPassword'].errors.minlength">
              {{'base.renew-password.pwdlength-error' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g" style="margin:10px 0px">
        <div class="ui-g-4 text-right">
          <label for="brand" class="required">{{'base.renew-password.confirm-password' | translate}}:</label>
        </div>
        <div class="ui-g-5">
          <input pInputText type="password" class="input" formControlName="confirmPassword" [(ngModel)]="confirmPassword" />
        </div>
        <div class="ui-g-3">
          <div *ngIf="form.controls['confirmPassword'].invalid&&(form.controls['confirmPassword'].dirty|| form.controls['confirmPassword'].touched)">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['confirmPassword'].errors.required">
              <i class="fa fa-close"></i> {{'text.required' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g" style="height:25px;margin: -20px 0px 0px -5px;">
        <div class="ui-g-4 text-right"></div>
        <div class="ui-g-8">
          <div *ngIf="form.controls['confirmPassword'].invalid&&(form.controls['confirmPassword'].dirty|| form.controls['confirmPassword'].touched)">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['confirmPassword'].errors.minlength">
              {{'base.renew-password.pwdlength-error' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g" style="margin:20px 0px" *ngIf="form">
        <div class="ui-g-12 text-center">
          <button pButton type="button" [disabled]="!form.valid" (click)="onSubmit()" [label]="'btn.submit' | translate"></button>
        </div>
      </div>
    </form>

  </div>
</div>
