<div id='{{ id }}-container' class="containe">
    <div id='corner' class="box">
        <div class="column">
            <div class="item">
                {{ model.tag | uppercase }}
                <br>
                <span *ngIf="model.tag == 'transverse'">Size: </span>
                <br>
                <span *ngIf="model.tag == 'transverse'">Slice: {{ model.sliceIndex }}</span>
                <br>
                <div *ngIf="model.tag == 'transverse'">
                    <span>WL:</span>
                    <input type="number" #wl (change)="inputWl(wl.value)" value="{{ model.imageM.windowLevel }}">
                    <br>
                    <span>WW:</span>
                    <input type="number" #ww (change)="inputWw(ww.value)" value="{{ model.imageM.windowWidth }}">
                </div>
            </div>
        </div>
    </div>

    <canvas id="{{ id }}-image" class="imageCanvas" image-canvas [tag]='model.tag' [base64]='model.imageM.imageData'></canvas>

    <canvas id="{{ id }}-overlay" class="overlayCanvas" overlay-canvas [tag]='model.tag' [graphics]='model.graphics'
        [roi]='roi' [rois]='rois' [actionType]='actionType' [shapeType]='shapeType' [sliceIndex]='model.sliceIndex'
        [faderRadius]='model.faderRadius'></canvas>

    <canvas id="{{ id }}-action" class="actionCanvas" action-canvas [tag]='model.tag' [actionType]='actionType'></canvas>

    <canvas id="{{ id }}-cross" class="crossCanvas" cross-canvas [tag]='model.tag' [point]='model.crossM.point'
        [hColor]='model.crossM.hColor' [vColor]='model.crossM.vColor'></canvas>
</div>