<div class="containe">
    <div class="box">
        <div class="column">
            <div class="item cleft">
                <span class="mpr"></span><br>
                Location: <span class="position"></span><br>
                <div id="canvas-frame"></div>
                <span *ngIf="tag == 'transverse'">Size: <span class="sizeinfo"></span></span><br>
                <span *ngIf="tag == 'transverse'">Slice: <span class="pageindex"></span></span><br>

                <div *ngIf="tag == 'transverse'" class='cright'>
                    <span>WL:</span> <input class="wl" type="number" #wl (change)="onChangewlww(ww.value + ',' + wl.value)"
                        value="{{ viewWL }}">
                    <br>
                    <span>WW:</span> <input class="ww" type="number" #ww (change)="onChangewlww(ww.value + ',' + wl.value)"
                        value="{{ viewWW }}">
                </div>
            </div>
        </div>
    </div>

    <canvas id="imageCanvas" class="imageCanvas"></canvas>
    <canvas id="crossCanvas" class="crossCanvas"></canvas>
    <canvas id="overlayCanvas" class="overlayCanvas" myContour [name]='name'></canvas>
    <canvas id="toolsCanvas" class="toolscan"></canvas>
</div>