.head {
    width: 100%;
    height: 30px;
    p {
        padding-left: 10px;
        font-size: 13px;
        line-height: 30px;
        color: #CCC;
    }
}

.body {
    width: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    // height: 100%;
    // width: 100%;
    position: absolute;
}

.column {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}

.item {
    flex-shrink: 1;
    flex-basis: 0%;
}

.containe {
    width: 100%;
    height: 100%;
    background: #000000;
    color: #CCC;
    text-shadow: 0px 1px 2px #808080;
    font-size: 13px;
    border: 1px solid gray;
    float: left;
}

canvas {
    position: absolute;
}

.cleft {
    position: absolute;
    z-index: 11;
}

.cright {
    position: absolute;
    z-index: 11;
    span {
        vertical-align: middle;
    }
    input {
        background: transparent;
        border: none;
        width: 40px;
        border-bottom: 1px solid #cddc39;
        text-align: center;
        padding: 0;
        color: #CCC;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

.cleftdown {
    position: absolute;
    z-index: 11;
}

.crightdown {
    position: absolute;
    z-index: 3;
}

.ZoomCursor {
    cursor: url(/assets/img/mouse_zoom.cur), auto;
}

.MoveCursor {
    cursor: url(/assets/img/mouse_move.cur), auto;
}

.mouse_windows {
    cursor: url(/assets/img/mouse_windows.cur), auto;
}

#canvas-frame {
    border: none;
    width: 50px;
}

.containe .img {
    // display: block;
    // margin: auto;
    position: absolute;
    z-index: 2;
    display: none;
}

#actionCanvas {
    z-index: 0;
}

/deep/ #imageCanvas {
    z-index: 5
}

/deep/ #crossCanvas {
    z-index: 10
}

/deep/ #overlayCanvas {
    z-index: 9
}